/* https://github.com/figma/plugin-samples/blob/master/react/src/ui.css */
body {
    font: 12px sans-serif;
    color: var(--figma-color-text);
}
button {
    border-radius: 5px;
    background: var(--figma-color-bg);
    color: var(--figma-color-text);
    border: none;
    padding: 8px 15px;
    box-shadow: inset 0 0 0 1px var(--figma-color-text);
    outline: none;
    margin-left: 10px;
}
button.primary {
    box-shadow: none;
    background: var(--figma-color-bg-brand);
    color: var(--figma-color-text-onbrand);
}
button.primary:active {
    background: var(--figma-color-bg-brand-pressed);
}
button.primary:disabled {
    background: var(--figma-color-bg-disabled);
}
button:focus,
#exchange-icon:active {
    box-shadow: inset 0 0 0 2px var(--figma-color-border-selected);
}
button.primary:focus {
    box-shadow: inset 0 0 0 2px var(--figma-color-border-selected);
}
input:not([type="checkbox"]) {
    border: none;
    border-radius: 2px;
    box-shadow: inset 0 0 0 1px var(--figma-color-border);
    outline: none;
    padding: 8px;

    font-size: inherit;
    color: inherit;
    background-color: transparent;
}
/* input:not([type="checkbox"]):hover {
    box-shadow: inset 0 0 0 1px var(--figma-color-border);
} */
input:not([type="checkbox"]):focus {
    box-shadow: inset 0 0 0 2px var(--figma-color-border-selected);
}
.input-row,
.button-row,
.checkbox-row {
    padding: 8px;
    display: flex;
    flex-direction: row;
    align-items: center;
}
.input-row label {
    width: 10em;
    margin-right: 1em;
}
.input-row input {
    flex: 1;
}
.checkbox-row {
    display: flex;
    align-items: flex-start;
    cursor: default;
}
.checkbox-row > div {
    margin-left: 0.75em;
    margin-right: 0.5em;
    text-align: left;
    height: 44px;
}

.checkbox-row label {
    margin-bottom: 2px;
    display: inline-block;
}

.button-row {
    justify-content: flex-end;
}

#exchange-icon-container {
    position: absolute;
    top: 85px;
    left: 101px;
}

#exchange-icon {
    opacity: 0.3;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 2px;
    padding: 0;
    box-shadow: none;
    width: 30px;
    height: 30px;
}

#exchange-icon:hover,
#exchange-icon:focus {
    opacity: 1;
    background-color: rgba(0, 0, 0, 0.05);
}

.figma-dark #exchange-icon:hover,
.figma-dark #exchange-icon:focus {
    background-color: rgba(255, 255, 255, 0.05);
}
  

.hint-text {
    color: var(--figma-color-text-secondary);
}

#dropdown-ui {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 4px 8px;
    cursor: pointer;
}

#dropdown-ui:hover #dropdown-icon {
    opacity: 1;
}

#dropdown-icon {
    opacity: 0.3;
    display: inline-block;
    margin-left: 4px;
}
#dropdown-icon.flipped {
    transform: rotate(180deg);
}

label.required::after {
    content: '*';
    color: var(--figma-color-icon-brand);
    margin-left: 0.2em;
}
